
.idea/Arcana.iml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/hashSum.cpython-38.pyc
__pycache__/processFunctions.cpython-38.pyc
__pycache__/virusTotalAPI.cpython-38.pyc
